/****************PARALLAX*******************/

.article__pais--parallax{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	height:30rem;
	max-width: 100%;
	position: relative;
    margin-top: -16%;
    
}
.article__pais--contenedor__title{
	color:#fff;
	position: absolute;
	text-align: center;
    justify-content: center;
	top: 35vh;
	width: 40vh;
    background-color: rgba(61, 61, 61, 0.377);
    border-radius: 30px;
    padding: 20px 10px;
    margin-left: 3vh;

    h2 {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
    }
}

.img-noruega {
    background-image: url(../../assets/img/section-3/noruega-bandera.jpg);
    top: 4.3vh;
}
.img-dinamarca {
    background-image: url(../../assets/img/section-3/dinamarca-bandera.jpg);
    top: 2vh;
}
.img-portugal {
    background-image: url(../../assets/img/section-3/portugal-bandera.jpg);
    top: 2vh;
}
.img-italia {
    background-image: url(../../assets/img/section-3/italia-bandera.jpeg);
    top: 2vh;
}
.img-suiza {
    background-image: url(../../assets/img/section-3/suiza-bandera.jpg);
    top: 2vh;
}
