
/*

abstracts-utilities, En esta carpeta se encuentran las funciones, variables y mixins que emplearemos en el resto de ficheros. Estos archivos no generan ninguna regla CSS al ser compilados sino que anaden funcionalidad extra para ser empleada por los otros partials

*/

$color-mostaza: rgba(255, 195, 65, 0.644);
$borde-mostaza: rgb(255, 102, 0);
$borde-redes: rgba(255, 0, 0, 0.295);
$menu-pie-pagina-gris: rgb(192, 192, 192);
$color-eslogan-a: rgb(255, 239, 212);
$color-eslogan-b: rgb(255, 239, 212);